.Data {
  margin-left: 0%;
  margin-right: 10%;
  cursor: pointer;
}

.title {
  color: red;
  display: flex;
  margin-right: 10%;
  justify-content: flex-start;
}
.paragraph {
  display: flex;
  margin-right: 40%;
  justify-content: flex-start;
  align-items: flex-start;
}
